.jumbotron {
    background-color: inherit;
}
.container {
    padding: 10px;
    margin: 0px;
    width: 99%;
}
.row {
	margin-bottom: 15px;
}
body {
    font-size: 24px;
    text-align: center;
}
.modal-dialog {
    font-size: 20px;
}
#lastupdated {
    font-style: italic;
    font-size: 12px;
}
#powerGraph {
    width: 100%;
    min-height: 200px;
}
#details {
    width: 100%;
    min-height: 200px;
}
.panel {
    color: black;
}


/* from https://blog.polarbits.co/2014/02/16/quick-tips-5-column-layout-with-twitter-bootstrap/ */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* from https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}